<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="Dashboard"></ion-back-button>
        </ion-buttons>
        <ion-title>Search trend details</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-list>
        <ion-item *ngFor="let article of articles; let i=index;">
            <ion-label text-wrap>
                {{article.snippet}}
            </ion-label>
            <a href={{newsUrlArray[i]}} target="_blank">
                <img [src]="imageArray[i]">
            </a>
        </ion-item>
    </ion-list>
</ion-content>